{% extends 'bookshop/base.html' %}

{% block content %}

    <div class="ps-hero">
        <div class="container">
            <h3>Bog'lanshi uchun</h3>
        </div>
    </div>

    <!-- <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div> -->
    <main class="ps-main">
        <div class="ps-container">
            <div class="ps-contact">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <form class="ps-form--contact" action="do_action" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Ism <sup>*</sup></label>
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Email <sup>*</sup></label>
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Xabaringiz <sup>*</sup></label>
                                <textarea class="form-control" rows="7"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="ps-btn pl-60 pr-60">Saqlash</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}