{% extends "admin/base_site.html" %}

{% block title %}
  Order {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Asosiy</a> &rsaquo;
    <a href="{% url "admin:orders_order_changelist" %}">Buyurtmalar</a>
    &rsaquo;
    <a href="{% url "admin:orders_order_change" order.id %}">Buyurtma {{ order.id }}</a>
    &rsaquo; Detal
  </div>
{% endblock %}

{% block content %}
<h1>Order {{ order.id }}</h1>
<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">Chop etish</a>
  </li>
</ul>
<table>
  <tr>
    <th>Yaratildi</th>
    <td>{{ order.created }}</td>
  </tr>
  <tr>
    <th>Mijoz</th>
    <td>{{ order.first_name }} {{ order.last_name }}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
  </tr>
  <tr>
    <th>Jami narxi</th>
    <td>{{ order.get_total_cost }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% if order.paid %}to'landi{% else %}kutilayotgan{% endif %}</td>
  </tr>
</table>

<div class="module">
  <h2>Sotib olindi</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Maxsulot</th>
        <th>Narx</th>
        <th>Miqdor</th>
        <th>Jami</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">jami</td>
        <td class="num">{{ order.get_total_cost }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
